<div class="about-image-1">
</div>

    <div class="about">

      <h2 class="font"><strong> Who We Are </strong></h2>
      <hr class="short-underline">

      <div class= "font18">

        We advance the health of individuals and communities by providing organizations and leaders with the resources they need most.
        <br>
        Our mission is to help our business partners and hospital members make connections through data, education, tools and networking opportunities available only through the HealthCare Forum.

      </div>

      <br>

      <%= link_to "http://www.facebook.com" do %>
      <%= fa_icon 'facebook-square 2x',class: 'icon-settings' %>
      <% end %>

      <%= link_to "http://www.instagram.com" do %>
      <%= fa_icon 'instagram 2x',class: 'icon-settings' %>
      <% end %>

    </div>

<div class="row">
  <div class="column">
    <%= image_tag "care-advice.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "workplace.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "doctor-pose.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "desk-doctor.jpg" %>
  </div>
</div>
