<div class="landing">
  <div class="background">
    <div class="content">
      <h1> Welcome to The Nonsense Forum </h1>
    </div>
  </div>

  <div class="background-2">
    <div class="content">
      <FONT COLOR="#FFFFFF">
      <h1> Where nonsense people meet </h1>
      </FONT>
    </div>
  </div>

  <section class="features-container">
    <h1 class="features-title text-center">
      Features
      <hr class="short-underline">
    </h1>

    <section class="features">
      <div class="feature text-center">
        <%= fa_icon 'globe 4x',class: 'icon-settings' %>
        <h5> Allow Nonsenses Reach Everywhere of The Globe </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'user 4x',class: 'icon-settings' %>
        <h5> Reaching Out to Every Nonsense People Out There </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'comments-o 4x',class: 'icon-settings' %>
        <h5> Have Nonsense Discussions </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'users 4x',class: 'icon-settings' %>
        <h5> Supporting Each Other's Nonsense </h5>
      </div>
    </section>

    <section class="image-container">
      <div class="image">
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "camel.jpeg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "cockrel.jpeg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "deer.jpeg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "cicak.jpeg",class:"image-box img-responsive"%>
        </div>
      </div>
    </section>

    <section class="contacts">
      <h1 class="contacts-title text-center">
        Contact Information
        <hr class="short-underline">
      </h1>
      <h5 class="contacts-title text-center">
        Sponsor Us to Keep Nonsenses Alive!
      </h5>


      <section class="features">
        <div class="feature text-center">
          <%= fa_icon 'phone 4x',class: 'icon-settings' %>
          <h5> Call Us! </h5>
        </div>
        <div class="feature text-center">
          <%= fa_icon 'envelope 4x',class: 'icon-settings' %>
          <h5> Write to Us! </h5>
        </div>
      </section>
    </div>
