<div class="background">
  <div class="content">
    <h1> Welcome to Magic Forums </h1>
  </div>
</div>

<div class="background-2">
  <div class="content">
    <h1> Where cool people meet </h1>
  </div>
</div>

<section class="features-container">
  <h1 class="features-title text-center">
    Features
  <hr class="short-underline">
  </h1>

<section class="features">
  <div class="feature text-center">
    <%= fa_icon 'globe 4x',class: 'icon-settings' %>
    <h5> Building Global Communities </h5>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'user 4x',class: 'icon-settings' %>
    <h5> Reaching Out to People </h5>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'comments-o 4x',class: 'icon-settings' %>
    <h5> Have Meaningful Discussions </h5>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'flask 4x',class: 'icon-settings' %>
    <h5> Talk Science </h5>
  </div>
</section>

<section class="image-container">
  <div class="image">
  <div class="image-setting">
     <div class="yellow-layout">
      <h2 class="text-center layout-title">Sneakers</h2>
     </div>
    <%= image_tag "kicks.jpg",class:"image-box img-responsive"%>
    </div>
  <div class="image-setting">
    <div class="yellow-layout">
      <h2 class="text-center layout-title">Adventure</h2>
     </div>
    <%= image_tag "forest.jpg",class:"image-box img-responsive"%>
    </div>
  <div class="image-setting">
    <div class="yellow-layout">
      <h2 class="text-center layout-title">Travel</h2>
    </div>
    <%= image_tag "mountain.jpg",class:"image-box img-responsive"%>
    </div>
  <div class="image-setting">
    <div class="yellow-layout">
      <h2 class="text-center layout-title">Photography</h2>
    </div>
    <%= image_tag "photography.jpg",class:"image-box img-responsive"%>
   </div>
 </div>
</section>

<section class="contacts">
    <h1 class="contacts-title text-center">
    Contact Information
    <hr class="short-underline">
    </h1>
    <h5 class="contacts-title text-center">
    Sponsor Us to Keep Us Running!
    </h5>


    <section class="features">
      <div class="feature text-center">
        <%= fa_icon 'phone 4x',class: 'icon-settings' %>
        <h5> Call Us! </h5>
      </div>
      <div class="feature text-center">
        <%= fa_icon 'envelope 4x',class: 'icon-settings' %>
        <h5> Write to Us! </h5>
      </div>
    </section>
