<div class="landing">
  <div class="background">
    <div class="welcome-content">
      <h1 class="white font38">
        Welcome to HealthCare Forum,
        <br>
        <strong>With Your Best Health Secret.</strong>
       </h1>
    </div>
  </div>

    <section class="what-content">
      <div class="container">
      <h2 class="font"><strong> What's HealthCare Forum ? </strong></h2>
      <hr class="short-underline">
      <div class="font18">
        HealthCare Forum is a dedicated, network of medical professionals who discuss on trends,
        give advice, share stories, uncover insights, surface opportunities, and connect in-person.
        <br>
        As a medical professional, here's your "secret weapon" to progress your career and accomplishing your life goals.
        <br>
        Together, we’re creating the World's most reliable brain trust for medical professionals in a fast-paced age.
      </div>
      </div>
    </section>

    <section class="image-container">
      <div class="image">
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "team.jpg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "bed.jpg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "lab.jpg",class:"image-box img-responsive"%>
        </div>
        <div class="image-setting">
          <div class="yellow-layout">
            <h2 class="text-center layout-title"></h2>
          </div>
          <%= image_tag "labs.jpg",class:"image-box img-responsive"%>
        </div>
      </div>
    </section>

  <section class="container">
    <h2 class="font"><strong> Features </strong></h2>
    <hr class="short-underline">

    <section class="features">
      <div class="feature text-center">
        <%= fa_icon 'globe 4x',class: 'icon-settings' %>
        <h5> Allow Nonsenses Reach Everywhere of The Globe </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'user 4x',class: 'icon-settings' %>
        <h5> Reaching Out to Every Nonsense People Out There </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'comments-o 4x',class: 'icon-settings' %>
        <h5> Have Nonsense Discussions </h5>
      </div>

      <div class="feature text-center">
        <%= fa_icon 'users 4x',class: 'icon-settings' %>
        <h5> Supporting Each Other's Nonsense </h5>
      </div>
    </section>

    <section class="contacts">
      <h2 class="font"><strong> Contact Us </strong></h2>
      <hr class="short-underline">

      <section class="features">
        <div class="feature text-center">
          <%= fa_icon 'phone 2x',class: 'icon-settings' %>
          <h5> Contact </h5>
        </div>
        <div class="feature text-center">
          <%= fa_icon 'envelope 2x',class: 'icon-settings' %>
          <h5> Email </h5>
        </div>
      </section>
    </div>
